<%= form_tag scan_urls_path do %>
  <div class="col s6">
    <div class="input-field">
      <i class="material-icons prefix">link</i>
      <%= text_field_tag "url", "", :class => "validate" %>
      <label for="url">Url</label>
    </div>
  </div>
  <div class="col s5">
    <div class="row">
      <% @vulnerabilities.each do |vulnerability| %>
        <div class="col s6">
          <p>
            <label>
              <%= check_box_tag "vulnerabilities[]", vulnerability %>
              <span><%= vulnerability.name %></span>
            </label>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <%= button_tag 'scan', class: "btn waves-effect waves-light orange darken-4" do %>
        SCAN
        <i class="material-icons right white-text">search</i>
      <% end %>
    </div>
  </div>
<% end %>